---
import Container from "../components/container.astro";
import Default from "../layouts/default.astro";

import Title from "../components/title.astro";
---

<Default>
    <Container>
        <Title title="Contact" />
        <div>
            <p>理科大太郎の連絡先は XXX-XXXX-XXXX まで！！</p>
        </div>
    </Container>
</Default>